snippet ( "close paranthesis"
($1)$0
endsnippet

snippet { "close brace"
{$1}$0
endsnippet

snippet [ "close bracket"
[$1]$0
endsnippet

snippet " "surround"
"$1"$0
endsnippet

snippet ' "surround"
'$1'$0
endsnippet
