snippet squash_info "Informativer Block ueber squashed Commits"
Dieser Commit entstand aus einem Squash mehrerer Commit-Objekte.
Die Kopfzeilen der zusammengefassten Commits seien nachfolgend
aufgelistet:
endsnippet
